streamlit
langchain
langchain-community
chromadb
sentence-transformers
PyPDF2
groq
python-dotenv
tiktoken

# Web Search & MCP
requests
beautifulsoup4
duckduckgo-search
mcp

# Guardrails
presidio-analyzer
presidio-anonymizer
textblob
